@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");
@import "tailwindcss";

* {
  font-family: var(--font-poppins);
}

body {
  background-color: #111517;
  color: #fff;
}

.vertical-text {
  writing-mode: sideways-lr;
}

.baskervville {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}
